# See https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist

# docs
docs

# typescript
*.tsbuildinfo
next-env.d.ts
